@tailwind base;
@tailwind components;
@tailwind utilities;

#btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  
  #btn:focus {
    outline: none;
  }
  
  /* Optional: Center the button horizontally */
  .fm {
    text-align: center;
  }
  .page{
    padding: 20px 5px 0px 5px;
  }
  