@tailwind base;
@tailwind components;
@tailwind utilities;

#btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  
  #btn:focus {
    outline: none;
  }
  
  /* Optional: Center the button horizontally */
  .fm {
    text-align: center;
  }
  .page{
    padding: 20px 5px 0px 5px;
  }
  .myButton {
    box-shadow:inset 0px 0px 0px 0px #f29c93;
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color:#fe1a00;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Georgia;
    font-size:15px;
    font-weight:bold;
    padding:7px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color:#ce0100;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
          